
profiles {	
    standard {	
        process {	
            withName: 'CreateGFF' {	
                cpus = 1	
                memory = 1.GB	
            }	
            withName: 'Alignment_prep' {	
                cpus = 1	
                memory = 1.GB	
            }	
            withName: 'Align_samples' {	
                cpus = 1	
                memory = 1.GB	
            }	
            withName: 'Pipeline_prep' {	
                cpus = 1	
                memory = 1.GB	
            }	
            withName: 'Create_VCF' {	
                cpus = 1	
                memory = 1.GB	
            }	
            withName: 'Ref_done' {	
                cpus = 1	
                memory = 1.GB	
            }	
            withName: 'Extract_variants' {	
                cpus = 1	
                memory = 1.GB	
            }	
            withName: 'Annotate_complex' {	
                cpus = 1	
                memory = 1.GB	
            }	
            withName: 'Annotate_complex_first_passage' {	
                cpus = 1	
                memory = 1.GB	
            }	
            withName: 'Generate_output' {	
                cpus = 1	
                memory = 1.GB	
            }	
            
    }	
    testing {	
        process {	
            cpus = 2	
            memory = 4.GB	
        }	
    }	
}
}

