
profiles {	
    standard {	
        process {	
            withName: 'CreateGFF' {	
                cpus = 10	
                memory = 12.GB	
            }	
            withName: 'Alignment_prep' {	
                cpus = 1	
                memory = 1.GB	
            }	
            withName: 'Align_samples' {	
                cpus = 10	
                memory = 12.GB	
            }	
            withName: 'Pipeline_prep' {	
                cpus = 10	
                memory = 12.GB	
            }	
            withName: 'Create_VCF' {	
                cpus = 1	
                memory = 1.GB	
            }	
            withName: 'Ref_done' {	
                cpus = 1	
                memory = 1.GB	
            }	
            withName: 'Extract_variants' {	
                cpus = 1	
                memory = 1.GB	
            }	
            withName: 'Annotate_complex' {	
                cpus = 1	
                memory = 1.GB	
            }	
            withName: 'Annotate_complex_first_passage' {	
                cpus = 1	
                memory = 1.GB	
            }	
            withName: 'Generate_output' {	
                cpus = 1	
                memory = 1.GB	
            }	
            
        }	
    }
    Cloud {	
        process {	
            withName: 'CreateGFF' {	
                cpus = 48	
                memory = 96.GB	
            }	
            withName: 'Alignment_prep' {	
                cpus = 4	
                memory = 8.GB	
            }	
            withName: 'Align_samples' {	
                cpus = 47	
                memory = 95.GB	
            }	
            withName: 'Pipeline_prep' {	
                cpus = 31	
                memory = 63.GB	
            }	
            withName: 'Create_VCF' {	
                cpus = 4	
                memory = 8.GB	
            }	
            withName: 'Ref_done' {	
                cpus = 4	
                memory = 8.GB	
            }	
            withName: 'Extract_variants' {	
                cpus = 4	
                memory = 8.GB	
            }	
            withName: 'Annotate_complex' {	
                cpus = 4	
                memory = 8.GB	
            }	
            withName: 'Annotate_complex_first_passage' {	
                cpus = 4	
                memory = 8.GB	
            }	
            withName: 'Generate_output' {	
                cpus = 4	
                memory = 8.GB	
            }	
            
        }	
    }
    testing {	
        process {	
            cpus = 2	
            memory = 4.GB	
        }	
    }	
}

