include CreateGFF from './Modules.nf'
include Alignment_prep from './Modules.nf'
include Align_samples from './Modules.nf' 
include Pipeline_prep from './Modules.nf'
include Create_VCF from './Modules.nf'
include Ref_done from './Modules.nf'
include Extract_variants from './Modules.nf'
include Annotate_complex from './Modules.nf'
include Annotate_complex_first_passage from './Modules.nf'
include Generate_output from './Modules.nf'

profiles {	
    standard {	
        process {	
            withName: 'CreateGFF' {	
                cpus = 1	
                memory = 1.GB	
            }	
            withName: 'Alignment_prep' {	
                cpus = 1	
                memory = 1.GB	
            }	
            withName: 'Align_samples' {	
                cpus = 1	
                memory = 1.GB	
            }	
            withName: 'Pipeline_prep' {	
                cpus = 1	
                memory = 1.GB	
            }	
            withName: 'Create_VCF' {	
                cpus = 1	
                memory = 1.GB	
            }	
            withName: 'Ref_done' {	
                cpus = 1	
                memory = 1.GB	
            }	
            withName: 'Extract_variants' {	
                cpus = 1	
                memory = 1.GB	
            }	
            withName: 'Annotate_complex' {	
                cpus = 1	
                memory = 1.GB	
            }	
            withName: 'Annotate_complex_first_passage' {	
                cpus = 1	
                memory = 1.GB	
            }	
            withName: 'Generate_output' {	
                cpus = 1	
                memory = 1.GB	
            }	
            
    }	
    testing {	
        process {	
            cpus = 2	
            memory = 4.GB	
        }	
    }	
}

